@import 'reset';
@import 'vars';
@import 'base';
@import 'mixins';
@import 'type';
@import 'tables';
@import 'forms';
@import 'utilities';

// component

@import 'components/modal';
@import 'components/submenu';
span {
  color:white;
  margin-right:5px;
}
.flex {
  justify-content: center;
  display:flex;
  margin:10px auto;
}
.wrap {
  flex-wrap: wrap;
}
h1 {
  color: red;
}
.beginner, .intermediate, .professional {
  div {
    position:relative;
    background-color: lightpink;
    display:flex;
    margin:5px;
    border-radius:50%;
    justify-content: center;
    align-items: center;
    border: 2px dotted lightsalmon;
  }
}
.beginner {
  width:75%;
  div {
    width:20vw;
    height:20vw;
  }
  &.overlay {
    width:100%;
    height:100%;
  }
  font-size: 12vw;
}
.intermediate {
  width:70%;
  div {
    width:13.5vw;
    height:13.5vw;
  }
  font-size: 8vw;
}
.professional {
  width:80%;
  div {
    width:11vw;
    height:11vw;
  }
  font-size: 7vw;
}
.overlay {
  position:absolute!important;
  margin:0px!important;
  display:flex
}
@media (max-width: 600px) {
  .professional {
    width:92%;
  }
}
.scored {
  transition:opacity ease-in .2s;
  opacity:0;
  z-index:-1;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: firebrick;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  font-size:8rem;
  color:white;
  button {
    font-size:1rem;
  }
}
